<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" routerLink="Home">
          <img src="./assets/sig.svg" style="width: 50%; margin-left: 0;" alt="signature logo">
        </a>
        <button 
        class="navbar-toggler border-0" 
        type="button" 
        
        aria-controls="toggleNav" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" 
        id="toggleNav" 
        [class.collapse]="collapsed"
        (window:resize)="collapsed = true">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-2">
          <a class="nav-link hvr-underline-from-center" routerLink="static-design">Static Design Work
              </a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link hvr-underline-from-center" routerLink="web-design">Web Design & Development</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link hvr-underline-from-center" href="#">Resume</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link hvr-underline-from-center" routerLink="contact">Contact</a>
        </li>
        <li>
          <a class="nav-link icon" href="https://www.instagram.com/heather_stump_art/" (click)="closeNav()" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li>
          <a class="nav-link  icon" href="https://www.facebook.com/heatherstumpdesigns/" (click)="closeNav()" target="_blank"><fa-icon [icon]="faFacebookSquare"></fa-icon></a>
        </li>
        <li>
          <a class="nav-link icon" href="https://twitter.com/heatherStumpArt" (click)="closeNav()" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>