

.navbar {
    background: url(src/assets/fade-banner.png) no-repeat;
    background-size: 100% 100%;
    background-color: black;
    color: black;
    font-size: 18pt;
  
}

.dropdown-item {
    color: black;
}

.nav-link {
 margin: .5em;
}

.navbar .material-icons {
    color: white;
    background-color: black;
    font-size: 36pt;
    background: none;
}
