<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a class=" hvr-underline-from-center" routerLink="/home"
          >Home
        </a>

        <a
          class=" hvr-underline-from-center"
          routerLink="/static-design"
          >Static Design
        </a>

        <a class="hvr-underline-from-center" routerLink="/web-design"
          >Web Design</a
        >

        <a class="hvr-underline-from-center" routerLink="/resume"
          >Resume</a
        >

        <!-- <li class="nav-item px-2">
                          <a class=" hvr-underline-from-center" routerLink="/contact">Contact</a>
                        </li> -->

        <a
          class=" icon"
          href="https://www.instagram.com/heather_stump_art/"
          (click)="closeNav()"
          target="_blank"
          ><fa-icon [icon]="faInstagram"></fa-icon
        ></a>

        <a
          class="  icon"
          href="https://www.facebook.com/heatherstumpdesigns/"
          (click)="closeNav()"
          target="_blank"
          ><fa-icon [icon]="faFacebookSquare"></fa-icon
        ></a>

        <a
          class=" icon"
          href="https://twitter.com/heatherStumpArt"
          (click)="closeNav()"
          target="_blank"
          ><fa-icon [icon]="faTwitter"></fa-icon
        ></a>

        <a
          class=" icon"
          href="mailto:heatherstump@hrsphotodesign.com"
          (click)="closeNav()"
          target="_blank"
          ><fa-icon [icon]="faEnvelope"></fa-icon
        ></a>
      </div>
    </div>
  </div>
</footer>
