<footer class="page-footer">
      <div class="row">
        <div class="col-4 col-md-12 col-lg-2 container">
            <a href="https://www.facebook.com/heatherstumpdesigns/"><img src="https://img.icons8.com/material/48/000000/facebook--v1.png"></a>
            <a href="https://www.instagram.com/heatherstumpdesign/"><img src="https://img.icons8.com/material/48/000000/instagram-new--v1.png"></a>
        </div>
      </div>

    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-4 container">
      © 2019 ALL IMAGES AND WORKS SUBJECT TO COPYRIGHT
      </div>
    </div>
</footer>
      
