<footer class="footer">



  <div class="row">

    <div class="col-12 col-md-3 ">

      <img class=" bottom-photo" src="./assets/self_photo_crop.png" alt="Profile Photo">

    </div>

    <div class="col-6 col-md-3">

      <ul>

        <h5>About</h5>

        <li><a class="text-muted hvr-underline-from-left" routerLink="/about/n2w-project">The N2W Project</a></li>

        <li><a class="text-muted hvr-underline-from-left" routerLink="/about/construction">Construction</a></li>

        <li><a class="text-muted hvr-underline-from-left" routerLink="/about/north-saint-louis">North St. Louis</a></li>

        <li><a class="text-muted" href="https://www.facebook.com/heatherstumpdesigns/"><img class="social" src="assets/facebook-square-brands.svg"></a></li>

        <li><a class="text-muted" href="https://www.instagram.com/heather_stump_art/"><img class="social" src="assets/instagram-brands.svg"></a></li>

      </ul>

    </div>

    <div class="col-6 col-md-3">

      <ul class="list-unstyled">

        <h5>Info</h5>

        <li><a class="text-muted hvr-underline-from-left" routerLink="/opportunities/business">Business</a></li>

        <li><a class="text-muted hvr-underline-from-left" routerLink="/opportunities/jobs">Jobs</a></li>

        <li><a class="text-muted hvr-underline-from-left" routerLink="/opportunities/federal-careers">Federal Careers</a></li>

      </ul>
    </div>

    <div class="col-3 col-md-1">

      <ul class="list-unstyled text-small">

        

      </ul>

    </div>

    <div class="col-3 col-md-1">
      <ul class="list-unstyled text-small">

        
  
      </ul>
    </div>
    

    

  </div>



  <!-- Copyright -->



    <div class="container mt-5">



      <p>Copyright &copy; HRS Photography & Design use of this content is strictly prohibited

        without the

        expressed, written permission of Heather Stump.</p>

  </div>

</footer>


<!-- #copyrights end -->