<app-header></app-header>

<div class="row">
    <div class="col-12 py-2 lists">
        <h2>GitHub Repos:</h2>
            <ul>
                <li><a href="https://github.com/h34th3r5/Angular_portfolio" target="_blank">Heather Stump Art portfolio repository  &raquo;</a></li>
            </ul>
        <h2>Published Websites</h2>
            <ul>
                <li><a href="http://nextngawest.com/#/home" target="_blank">Public site for Next NGA West  &raquo;</a></li>
            </ul>
        <h2><a href="./assets/docs/heatherStump2020-Resume.pdf" target="_blank">Resume</a></h2>

    </div>
</div>
<app-footer></app-footer>