<app-header></app-header>

<div class="animated" animateOnScroll animationName="fadeIn" style="z-index: 1;">
    <div style="background-color: red; height: 1500px; width: 100%;">

    </div>
</div>
<div class="animated" animateOnScroll animationName="slideDown" offset="120" style="z-index: 10;">
    <div style="background-color: orange; height: 1500px; width: 100%;">

    </div>
</div>
<div class="animated" animateOnScroll animationName="fadeIn" style="z-index: 100;">
    <div style="background-color: yellow; height: 400px; width: 100%;">

    </div>
</div>
<div class="animated" animateOnScroll animationName="fadeIn" style="z-index: 1000;" >
    <div style="background-color: green; height: 400px; width: 100%;">

    </div>
</div>