
  
  main {
    background-color: yellow;
    width: 100%;
  }
  
  @media only screen and (min-width: 576px) {
    main {
      margin-bottom: 575px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    main {
      margin-bottom: 380px;
    }
  }
  
  
  @media only screen and (min-width: 992px) {
    main {
      margin-bottom: 350px;
    }
  }
  
  @media only screen and (min-width: 1230px) {
    main {
      margin-bottom: 360px;
    }
  }
  
  
  