<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="item col-12"  [ngsReveal]="{ reset: true}" style="background-color: white; font-family: serif; color: black; padding: 2em;">
            <h1>2018: The Year of HTML and CSS</h1>
            <ul>
                <li>I enrolled in LaunchCode's CoderGirl program in the winter of 2018 and began learning how to construct the bones of a website</li>
                <li>I spent several weeks fighting with CSS, but now it's my favorite language</li>
                <li>I remember how excited I was to see any type of code display on the screen!</li>
                <li>I made a few class projects here, but none of them are presentable</li>
                    <ul>
                        <li>(one of them was literally about cat costumes)</li>
                    </ul>
                <li>The only reason I enrolled in any sort of coding program was to enrich my graphic design resume, but then I fell in love with coding. It's one of the only things in my life that drives me to be better and truly problem solve</li>
                <li>I graduated CoderGirl in the summer of 2018 and returned to my graphic design job that I had at the time</li>
                    <ul>
                        <li>During this time, I would help when needed on JavaScript projects by providing feedback on the office's website and worked to get better UX with the rest of the web team</li>
                        <li>Participated in several meetings about customer dissatisfaction about UX and provided feedback on updating code and how to streamline the code for a better development environment</li>
                    </ul>
                <li>Although CSS became my favorite language during this time, it was a great accomplishment just to see <strong>something</strong> on the internet</li>
            </ul>
    
        
        </div>
        <div class="item col-12" [ngsReveal]="{ reset: true}">
            <h1 class="text-center col-12" style="background-color: peachpuff; padding: 1em; color: gray;">2019: The Year of Full Time Web Development</h1>
            <ul style="background-color: pink; padding: 2em; color: black;" >
                <li>I started working for SAIC in January 2019 and was immediately thrown into every part of the development lifecycle</li>
                    <ul>
                        <li>Our team consists of two developers, so we were taking on many tasks all at once of various levels of the lifecycle</li>
                    </ul>
                <li>Our web team inherited an HTML/CSS/Javascript website and we decided to rewrite the entire thing using Angular 8</li>
                <li>From learning how to install Node.js and Angular CLI to using Pivitol Cloud Foundry to push our site live, we learned everything as we went</li>
                    <ul>
                        <li>This means that I have intimate knowledge of every part of Angular since I have had to cherry pick things like versions of CLI, scripts, and styles</li>
                        <li>Due to this, I have intermediate experience with Node.js and how it installs and updates</li>
                    </ul>
                <li>Working with Angular greatly improved my JavaScript skills and taught me how to work with property binding</li>
                <li>I conducted several meetings with my customers to show them how SPAs are a better way to provide information to our users</li>
                <li>All this new knowledge led to some questionable styling choices, as demonstrated in this div. I was mostly just excited to have learned an entirely new framework. It seemed digestable styles were secondary...</li>
            </ul>
        
        </div>
        <div class="item col-12" [ngsReveal]="{ reset: true}"  style="color: white; padding: 2em;">
            <h1 class="text-center" style="border-top: 3px solid #ccff00; padding-top: .5em;">2020: The Year of Angular...</h1>
            <ul  style="font-size: 16pt;">
                <li>We launched our new Angular 8 site in January of 2020 to great reviews</li>
                <li>Prior to this, we conducted months of user testing by having biweekly web meetings in which we showed progress of our site to our customers for their approval</li>
                    <ul>
                        <li>We had a unique user testing experience in that we were developing, conducting UX testing, and collecting content</li>
                        <li>I feel the fact that I was able to work on a two-person team and have this kind of workflow speaks to my commitment to all aspects of web development</li>
                    </ul>
                <li>Being a graphic designer, I created web graphics for this site and worked to incorporate visual elements to include Material icons</li>
                <li>Aimed to make our site visually interesting and easy to digest for the user by making only one component visible at a time where applicable</li>
                <li>As a small web team, we were responsible for three different websites with three different categories of content</li>
                    <ul>
                        <li>We had an externally facing website for the public, one for the internal workforce, and another classified website specifically for classified content</li>
                        <li>We worked with GeoAxis and other authentication services to provide the utmost in security access</li>
                    </ul>
            </ul>
        
        </div>
        <div class="item text-center" [ngsReveal]="{ reset: true}">
            <button type="button" class="btn"><a routerLink="/web-design"><fa-icon [icon]="faGithub"></fa-icon> Click here for full resume and repo links <fa-icon [icon]="faGithub"></fa-icon></a></button>
        </div>
    </div>

</div>

 <app-footer></app-footer>   


