<app-header></app-header>
<div class="container">

  

    <div data-aos="fade=up">
        <h1>2018: The year of HTML and CSS</h1>
        <ul>
            <li>- Attended LaunchCode's CoderGirl program for Web Development</li>
            <li>- Got very excited when words displayed in Times New Roman on a plain white background</li>
        </ul>
            

    </div>
    <div @myInsertRemoveTrigger *ngIf="isShown" class="insert-remove-container">
        <p>The box is inserted</p>
      </div>
</div>

