<div class="container">

<div class=row>
    <div class="col-12 title">
        <p>Heather Stump Art & Design || Saint Louis, MO</p>
    </div>

 
    <div class="col-6 mr-2 justify-content-center">
        <a routerLink="/static-design" ><p class="pt-5 first hvr-float menu col-12"><span>GRAPHIC</span>DESIGN</p></a>
        <a routerLink="/web-design"><p class="hvr-float menu first col-12"><span>WEB</span>DESIGN</p></a>
        <a routerLink="/resume"><p class="hvr-float menu first col-12">RESUME</p></a>
    </div>

    <div class="col-12 pt-3">
        <h2 class="socials" [innerHTML]='socialName'></h2> 
    </div>
    

    <div class="col-12 col-sm-6 pb-4">
            <a class="px-3" href="https://www.instagram.com/heather.creates.the.world/" (mouseover)="socialName='instagram'"  (mouseout)="socialName='socials||contact_'" target="_blank"  title="instagram" alt="Instagram" ><fa-icon [icon]="faInstagram"></fa-icon></a>
              
            <a class="px-3" href="https://www.facebook.com/heatherstumpdesigns/" (mouseover)="socialName='facebook'"  (mouseout)="socialName='socials||contact_'"target="_blank" title="facebook" alt="Facebook"><fa-icon [icon]="faFacebookSquare"></fa-icon></a>
        
            <a class="px-3" href="https://twitter.com/heatherStumpArt" (mouseover)="socialName='twitter'"  (mouseout)="socialName='socials||contact_'"target="_blank" title="twitter" alt="Twitter"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <a class="px-3" href="mailto:heather.r.stump@gmail.com" (mouseover)="socialName='email'"  (mouseout)="socialName='socials||contact_'"target="_blank" title="email" alt="Email"><fa-icon [icon]="faEnvelope"></fa-icon></a>
    </div>            
    
</div>

</div>