
span {
    color: #e3e3e3;
    font-family: 'Monoton', cursive;
    font-weight: 500;
}

.title h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  padding-top: 1em;
}

.menu {
    color: #777777;
    font-family: 'Monoton', cursive;
    font-weight: 500;
}

.first {
    opacity: .6;
    font-size: 40pt;
  }

.first:hover {
    opacity: 1;
    color: #ccff00;
}

h2 {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40pt;
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  fa-icon {
    font-size: 40pt;
    font-weight: bold;
    color: white;
  }
  
  fa-icon:hover {
    color: #ccff00;
  }


  .table {
      display: table;
      margin: 0 auto;
  }
  li {
    list-style-type: none;
    display: inline;
  }

  a:hover {
    text-decoration: none;
  }

