
/* Below line is write to use Google font online */

div#main{
width:830px;
height:650px;
margin:0 auto;
font-family: 'PT Sans Narrow', sans-serif;
}
div#form_sample{
text-align:center;
border:1px solid #ccc;
width:300px;
padding:0 50px 15px;
margin-top:20px;
box-shadow:0 0 15px;
border-radius:6px;
float:left
}
#main h1{
margin-top:40px;
}
hr{
margin-top:-5px;
}
label{
float:left;
font-size:12px;
}
input[type="text"]{
width:35%;
margin-top:10px;
height:35px;
margin-bottom:25px;
padding:20px;
border:3px solid #ccff00;
}
textarea{
width:35%;
border:3px solid #ccff00;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none;
margin-left: 30%;
}
input[type="submit"]{
width:35%;
padding:10px 45px;
background-color:#ccff00;
border:none;
color:#fff;
font-size:12px;
font-weight:700;
cursor:pointer;
font-family: 'PT Sans Narrow', sans-serif !important;
}
input{
    margin-left: 30%;
}

button, input, optgroup, select, textarea {
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-size: 16pt;
    margin-left: 30%;
}
/* -------------------------------------
CSS for Sidebar (optional)
---------------------------------------- */
div#fugo{
float:right
}

.contact-fields {
    margin-top: 3em;
}

.help {
    margin-left: 30%;
  }

